@page "/"
@inherits Index_Logic

@addTagHelper *, BlazorVirtualGridComponent
@using BlazorVirtualGridComponent;

<h1>Hello, world!</h1>


<button class="btn btn-primary" onclick="@CmdNewList1">new list 1</button>

<button class="btn btn-primary" onclick="@CmdNewList2">new list 2</button>


<br />
<br />

<CompBlazorVirtualGrid ref="CurrBVG"></CompBlazorVirtualGrid>
