@page "/"
@inherits Index_Logic

@addTagHelper *, BlazorVirtualGridComponent
@using BlazorVirtualGridComponent;

<h1>Hello, world!</h1>

<button class="btn btn-primary" onclick="@CmdRefresh">Refresh</button>

<CompBlazorVirtualGrid ref="CurrBVG" bvgGrid="@bvgGrid"></CompBlazorVirtualGrid>
